* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: inline-block;
}

main {
    background-color: rgb(200, 200, 235);
}

button {
    margin: 10px;
}

.task {
    background-color: rgb(57, 57, 202);
    color: white;
    padding: 5px;
    text-align: center;
}

.section {
    color: lightgrey;
    padding: 5px;
    text-align: center;
}

section {
    margin: 20px;
}

.new_task {
    font-size: 20px;
}

.editor {
    background-color: rgb(43, 84, 215);
    color: white;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
}

.today {
    font-size: 20px;
}

.first_row {
    margin-bottom: 10px;
}

.goals {
    background-color: rgb(182, 27, 182);
    color: white;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
}

.second_row {
    margin-bottom: 10px;
}

.recruiting {
    background-color: rgb(27, 110, 182);
    color: white;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
}

.third_row {
    margin-bottom: 10px;
}

.mobile {
    background-color: orangered;
    color: white;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
}

.upcoming {
    font-size: 20px;
}

.website {
    background-color: rgb(172, 76, 166);
    color: white;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
}

.sales {
    background-color: greenyellow;
    color: white;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px; 
}